/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #22272a;
  background-image: url(thispage/bg_img_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction:column;
  width: 80%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Barlow';
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */


/* || create bubble border */
nav, aside, main, footer, section, article, nav a:hover {

  -moz-border-radius:0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius:10px 10px 10px 10px;

}

article {
  background-color: #2a363b;
  padding: 1%;
}

nav {

  margin-top: 10px;
  margin-bottom: 10px;
  border:5px solid #99b898;

  height: 50px;
  background-color: #99b898;
  display: flex;

}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav li:not(:last-child) { 
  border-right:solid 1px #9de0ad; /* This will not give border to last li element */
}

nav a {
  display: inline-block;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
}

nav a:hover {

  background-color: #9de0ad;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  margin-left: 1%;
  display: flex;
  position: relative;
  
}

section{
  width: 78%;
}

article {
  border:5px solid #2a363b;
  background: #2a363b;
  margin-top: 1%;
  padding: 1%;
  flex: 4;
}

aside {
  position: relative;
<<<<<<< HEAD:src/styles/main_style.css
  margin: 1% 1%;
=======
  margin: 3% 1%;
>>>>>>> 6ffd433541c22043da75eb51a16fc59e8ea26a22:main_style.css
  background-color: #ff847c;
  float: right;
  width: 20%;
  border:5px solid #ff847c;

}

aside ul {
  list-style-type: none;
}

aside li {
  padding-bottom: 10px;
}

footer {
  clear: both;
  margin-top:5px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 80%;
  background-color: #e84a5f;

  border:5px solid #e84a5f;

}

footer a {
  color: #e0e0e0;
}
